<p id="notice"><%= notice %></p>

<p>
  <strong>Nodeid:</strong>
  <%= @owner.nodeid %>
</p>

<p>
  <strong>Login:</strong>
  <%= @owner.login %>
</p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @owner.type.name.capitalize unless @owner.type.nil? %>
</p>

<p>
  <strong>Avatar url:</strong>
  <%= @owner.avatar_url %>
</p>

<p>
  <strong>Html url:</strong>
  <%= @owner.html_url %>
</p>