<h1>Trending</h1>
<p>Type <%= @number_of_languages %> programming languages:</p>
<%= form_tag({controller: :trending, action: :search }, method: :get) do %>
  <% @number_of_languages.times do |i|%>
    <% lang = "lang#{i.to_s}" %>
    <div class="field">
      <%= label_tag lang.to_sym, "Language #{i+1}" %>
      <%= text_field_tag lang.to_sym %>
    </div>
  <% end %>
  <%= submit_tag("Search") %>
<% end %>
