<p id="notice"><%= notice %></p>

<h1 class="text-center">Repositories</h1>
<% @repositories.each do |lang, repos| %>
  <h2 class="text-center"><%= lang.capitalize %></h2>
  <% repos.each_slice(5) do |slice| %>
    <div class="card-group" style="padding-left: 20%; padding-right: 20%">
      <% slice.each do |r| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= r.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= r.full_name %></h6>
            <p class="card-text"><%= r.stargazers_count %> <%= fa_icon :star, class: :yellow_star %></p>
            <p class="card-text"><%= r.description %></p>
            <%= link_to r.html_url, class: 'btn btn-primary mt-auto' do %>
              Visit on Github
            <% end %>
          </div>
        </div>
      <% end %>
      <% (5 - (slice.size)).times do %>
        <div class="card">

        </div>
      <% end %>
    </div>
  <% end %>
  <br>
<% end %>